<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<title>Project</title>
	<!--fontawsome      -->
	<script src="https://kit.fontawesome.com/66f45e81f9.js"
	crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap"
	 rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Montserrat+Alternates&display=swap"
	 rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css2?family=Piedra&family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/how-work.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/offer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/support.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
	<link rel="stylesheet" type="{% static 'text/css" href="css/hover.css' %}">
    <link rel="stylesheet" type="{% static 'text/css" href="css/animate.css{% static '' %}">
</head>
<body>
<!-------------------------Start Header section---------------------------->
		<div class="header fixed-top">
			<div class="container">
				<div class="row">
					<div class="col-2">
						<div class="logo"><a href="/">E-Shhnli</a> </div>
					</div>
					<div class="col-5">
					<ul class="links  d-none d-lg-block">
					<li><a href="{% url 'how-work' %}">How It Works</a> </li>
					<li><a href="{% url 'offers' %}">Offers</a> </li>
					<li><a href="">FAQ</a> </li>
					<li><a href="{% url 'support' %}"> Support</a></li>
					</ul>
					</div>
					<div class="col-5">
						<ul class="regist">
							{% if user.is_authenticated %}
							<li>
								<div class="dropdown">
									<a aria-haspopup="true" aria-expanded="true" id="dropdown-basic" type="button" class="dropdownbutton dropdown-toggle">
										Hello, {{request.user}}
									</a>
									<div class="dropdown-menu " id="user" aria-labelledby="dropdown-basic">
										<a href="/myaccount/orders" class="dropdown-item">My Orders</a>
										<a href="/myaccount/wallet" class="dropdown-item">My Wallet</a>
										<a href="/myaccount/support-tickets" class="dropdown-item">Support Tickets</a>
										<a href="{% url 'auth_logout' %}" class="dropdown-item" role="button">Log out</a>
									</div>
								</div>
							</li>
							<li><a href="{% url 'cart' %}"><i class="fas fa-cart-plus"></i></a></li>
							<li class="calculator"><a href="#">Calculator <i class="fas fa-calculator"></i></a> </li>
							{% else %}
							<li><a href="{% url 'auth_login' %}"> Login</a></li>
							<li><a href="{% url 'registration_register' %}"> Register</a></li>
							{% endif %}
							<li>
								<select class="form-control" id="example-select-one">
            						<option selected=""><a href="/myaccount/orders" class="dropdown-item">EN</a></option>
            						<option value="1"><a href="/myaccount/wallet" class="dropdown-item">Arab</a></option>
          						</select>
							</li>
						</ul>
						<span class="d-xl-none d-md-blok float-right menu-icon"><i class="fas fa-bars"></i></span>
					</div>
				</div>
			</div>
		</div>
		<div class="nav-right-menu">
			<ul class="links  ">
				<li><a href="{% url 'how-work' %}">How It Works</a> </li>
					<li><a href="{% url 'offers' %}">Offers</a> </li>
					<li><a href="">FAQ</a> </li>
					<li><a href="{% url 'support' %}"> Support</a></li>
			</ul>
		</div>
		<!-------------------------start disc-section-------------------------------->


{% block content %}{% endblock %}

<!--------------------footer section----------------------------------------->
		 <!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

	<!-- Footer Links -->
	<div class="container text-center text-md-left">

	  <!-- Grid row -->
	  <div class="row">

		<!-- Grid column -->
		<div class="col-md-4 mx-auto">

		  <!-- Content -->
		  <h5 class="font-weight-bold  mt-3 mb-4 brand text-uppercase">E-Shhnli</h5>
		  <p> We helps you to shop easliy from any online store and order .</p>

		</div>
		<!-- Grid column -->

		<hr class="clearfix w-100 d-md-none">

		<!-- Grid column -->
		<div class="col-md-2 mx-auto  shared-link">

		  <!-- Links -->
		  <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Shopping</h5>

		  <ul class="list-unstyled">
			<li>
			  <a href="#!"><i class="fa fa-angle-double-right"></i>How Its Works</a>
			</li>
			<li>
			  <a href="#!"><i class="fa fa-angle-double-right"></i>Brands</a>
			</li>
		  </ul>

		</div>
		<!-- Grid column -->

		<hr class="clearfix w-100 d-md-none">

		<!-- Grid column -->
		<div class="col-md-2 mx-auto shared-link">

		  <!-- Links -->
		  <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Company</h5>

		  <ul class="list-unstyled">
			<li>
			  <a href="#"><i class="fa fa-angle-double-right"></i>About</a>
			</li>
			<li>
			  <a href="#"><i class="fa fa-angle-double-right"></i>Contact</a>
			</li>
			<li>
			  <a href="#"><i class="fa fa-angle-double-right"></i>Shanli’s Packages</a>
			</li>

		  </ul>

		</div>
		<!-- Grid column -->

		<hr class="clearfix w-100 d-md-none">

		<!-- Grid column -->
		<div class="col-md-2 mx-auto shared-link">

		  <!-- Links -->
		  <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Help</h5>

		  <ul class="list-unstyled">
			<li>
			  <a href="#!"><i class="fa fa-angle-double-right"></i>FAQ</a>
			</li>
			<li>
			  <a href="#!"><i class="fa fa-angle-double-right"></i>Support</a>
			</li>
			<li>
		  </ul>

		</div>
		<!-- Grid column -->

	  </div>
	  <!-- Grid row -->

	</div>
	<!-- Footer Links -->
	<hr>
	<!-- Social buttons -->
	<ul class="list-unstyled list-inline text-center social">
	  <li class="list-inline-item facebook">
		<a class="btn-floating btn-fb mx-1">
		  <i class="fab fa-facebook-f"> </i>
		</a>
	  </li>
	  <li class="list-inline-item  twitter">
		<a class="btn-floating btn-tw mx-1" href="#">
		  <i class="fab fa-twitter"> </i>
		</a>
	  </li>
	  <li class="list-inline-item google-plus">
		<a class="btn-floating btn-gplus mx-1" href="#">
		  <i class="fab fa-google-plus-g"> </i>
		</a>
	  </li>
	  <li class="list-inline-item linkedin ">
		<a class="btn-floating btn-li mx-1" href="#">
		  <i class="fab fa-linkedin-in"> </i>
		</a>
	  </li>
	</ul>
	<!-- Social buttons -->

	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">
		© 2020 Copyright By <span>E-Shhnli Team</span>
	</div>
	<!-- Copyright -->

  </footer>
  <!-- Footer -->
  <!---------------- Start Section Scrolling ---------------------->
    <div id="scroll-up">
	    <i class="fa fa-chevron-up fa-2x"></i>
	</div>
	<!---------------------------- setting box  section------------------------>
	<div class="setting-box ">
		<div class="toggle-setting">
			<i class="fas fa-plus"></i>
		</div>
		<div class="Opinion">
			<h6 class="text-center">Do you like our service?</h6>
			<div class="img-box">
			<img  src="{% static 'images/happy.svg' %}"  class="happy" alt="Happy" aria-placeholder="Happy">
			<img src="{% static 'images/natural.svg' %}" class="natural" alt="Natural">
			<img src="{% static 'images/sad.svg' %}" class="sad" alt="Sad">
			</div>

		</div>
	</div>

	<!-- Load Facebook SDK for JavaScript -->
	<div id="fb-root"></div>

	<!-- Your Chat Plugin code -->
	<div class="fb-customerchat"
	  attribution=setup_tool
	  page_id="109642157437479"
theme_color="#0084ff">
	</div>

<!-- js files  -->
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/jquery.easeScroll.js' %}"></script>
<script>

     new WOW().init();

</script>
<script>$("html").easeScroll();
</script>
<script>
	$(document).ready(function(){
		"use strict";
		const toggel=$('.custom-switch input');
   var chicked=true;
toggel.on("click",function(){
    if(chicked){
		chicked=!chicked;
        $(".desc-commerical").removeClass("hide");
        $(".desc .desc-box .find-link").addClass("hide");

	}
	else{
		chicked=!chicked;
		$(".desc-commerical").addClass("hide");
        $(".desc .desc-box .find-link").removeClass("hide");
	}

});

	})
</script>
<script>
	window.fbAsyncInit = function() {
	  FB.init({
		xfbml            : true,
		version          : 'v7.0'
	  });
	};

	(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
	fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>