{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
<!----------- Start   section Loading----------
<div class="loading-overlay">
	<div class="sk-folding-cube">
	  <div class="sk-cube1 sk-cube">
	  </div>
	  <div class="sk-cube2 sk-cube"></div>
	  <div class="sk-cube4 sk-cube"></div>
	  <div class="sk-cube3 sk-cube"></div>
	</div>
	</div>--->
	<!----- End   section Loading--------------->
	<div class="landing-page">	
		<!----------------------strat loading section-------------------------------->

		<div class="desc">
			<div class="overlay"></div>
			<div class="desc-box">
			<div class="container">
				<h1 class="wow bodunceIn" data-wow-duration="2s" 
				data-wow-offset="50">
				The  world in your house easliy</h1>
				<div class="custom-control custom-switch">
					 <h5>Personal Order</h5>
					<input type="checkbox"    class="custom-control-input" id="customSwitch1">
					<label class="custom-control-label" for="customSwitch1">Commercial Order</label>
				  </div>
				{% block link %}
				<div class="find-link wow fadeInRightBig"  >
					<p>Drop your product’s link here</p>
					<form class="form-inline " method="post" action="{% url 'api' %}">
						{% csrf_token %}
						<div class="form-group">
							<input type="text" name="url" class="form-control" required placeholder="Paste your product link: https://www.amazon.com/432221">
						  </div>
						  <div class="form-group">
							<button class="form-control get" id="get">Get It</button>
						  </div>
					  </form>
					<!--<input class="fadeInRightBig" data-wow-duration="2s" 
					data-wow-offset="60" type="text" placeholder="Paste your product link: https://www.amazon.com/432221">
					<button >GET IT</button>-->
				</div>
				{% endblock %}
				<div class="desc-commerical hide text-center">
					<p>Write Your Specific Commercial Order 
						Including <br>What You Need Specially From Quantites Price Details about the Order
					</p>
					<hr>
					<div class="desc-commerical-form ">
						<form action="" class="form-inline">
							 <div class="form-group">
							   <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Quantity">

							   <input type="Number" class="form-control" id="exampleInputPassword1" placeholder="Price">
							 </div>
							</form>
							<div class="form-group">
								<textarea name="" class="form-control d-block" id="" style="height:100px; width:650px; margin-left: 30px; margin-bottom: 40px; border:#EC407A solid 2px;" placeholder="Enter Detailes"></textarea>
							</div>
						<p>Or Upload Details File</p>
						<div class="form-group">
								<input type="file" name="" class="form-control d-block mx-auto">
						</div>
							<div class="form-group">
                            <input type="button" value="Send" class="form-control">
						</div>
						
					   </div>

				</div>
			</div>
		</div>
	</div>
		<!--------------------------- How we Work---------------------------------------->
		<div class="how-work">
			<div class="container-fluid">
				<h2 class="h1 wow fadeInDown" data-wow-duration="2s" 
				data-wow-offset="300">
					How E-Shhnli Works
				</h2>
				<div class="row">
				<div class="box col-12 col-sm-6  col-md-6 col-lg-3  col-xl-3 wow fadeInDownBig"  data-wow-duration="2s" 
				data-wow-offset="350">
					<div class="icon"><i class="far fa-save"></i></div>
					<h3>Copy → Paste</h3>
					<p>Shop through thousands of websites and brands & just drop your item’s link here.</p>
				</div>
				<div class="box col-12 col-sm-6 col-md-6 col-lg-3  col-xl-3 wow fadeInDownBig" data-wow-duration="2s" 
				data-wow-offset="350">
					<div class="icon"><i class="far fa-check-circle"></i></div>
					<h3>Confirm your order</h3>
					<p>Enter your desired quantity, size, and color, then review and confirm to proceed.</p>
				</div>
				<div class="box col-12 col-sm-6  col-md-6 col-lg-3  col-xl-3 wow fadeInUpBig"  data-wow-duration="2s" 
				data-wow-offset="350">
					<div class="icon"><i class="fas fa-money-check-alt"></i></div>
					<h3>Pay
					</h3>
					<p>Choose your preferred payment method from various payment methods we offer.
					</p>
				</div>
				<div class="box col-12 col-sm-6 col- col-md-6 col-lg-3  col-xl-3  wow fadeInUpBig"  data-wow-duration="2s" 
				data-wow-offset="350">
					<div class="icon"><i class="fas fa-shuttle-van"></i></div>
					<h3>Receive</h3>
					<p>Have your order safely delivered to your doorstep in a perfect condition.</p>
				</div>
			</div>
		</div>
		 </div>	
		 <!------------easy shoppping section---------------------------------------------->
		 <div class="easy-shop">
			 <div class="container">
				 <div class="row">
					 <div class="shop-desc  col-12  col-sm-12 col-md-12 col-lg-5 col-xl-5">
						<h2 class="wow fadeInLeftBig"  data-wow-duration="2s" 
						data-wow-offset="400">Now with E-Shhnli  the shopping online is faster</h2>
						<p class="wow fadeInLeftBig"  data-wow-duration="2s" 
						data-wow-offset="400">E-Shhnli e-Wallet helps you to shop easliy from any online store and order from USA to Egypt.</p>
						<button class="wow fadeInLeftBig"  data-wow-duration="2s" 
						data-wow-offset="400">E-Shhnli E-Walle</button>
					 </div>
					 <div class="shop-img col-12  col-sm-12 col-md-12 col-lg-7 col-xl-7 wow fadeInRightBig"  data-wow-duration="2s" 
					 data-wow-offset="400">
						 <img src="{% static 'images/web-shop.svg' %}" alt="">
					 </div>
				 </div>
			 </div>
		 </div>
		 		 <!----------------- client section------------------------------------->	
		 <div class="our-client">
			 <div class="container">
				 <img src="{% static 'images/client.png' %}" alt="">
			 </div>
		 </div>
		 <!---start section price table-->
<section class="price-table text-center">
	<div class="container">
	  <h2 class="h1">Our Amazing Prices</h2>
	  <div class="row">
		<div class="col-lg-4 col-sm-6 col-md-6 xs-12">
		  <div class="price-box  box1 wow fadeInUp " data-wow-duration="2s" data-wow-offset="400">
			<div class="price">
				<span>EG</span>
				<h5>800<br></h5>
				<p>per month</p>
			</div>
			
            <h2 class="text-info"> No limits</h2>
			<ul class="list-unstyled">
				<ul class="list-unstyled">
				<li><i class="far fa-check-circle"></i> 100% OFF Customs</li>
			   <li><i class="far fa-check-circle"></i> 100% OFF VAT</li>
			   <li> <i class="far fa-check-circle"></i> $1 + 9% Gebhaly Fees</li>
			   <li> <i class="far fa-check-circle"></i> $3.4 per 100 gm	</li>
			   <li> <i class="far fa-check-circle"></i> Purchase limit: 50 K EGP/Mont</li>
			</ul>
			<a href="#" class="btn ">Subscribe</a>
		  </div>
		</div>
		<div class="col-lg-4 col-sm-6  xs-12">
		  <div class="price-box box2 wow fadeInUp " data-wow-duration="2s" data-wow-offset="400">
			<div class="price">
				<span>EG</span>
				<h5>800<br></h5>
				<p>per month</p>
			</div>
            <h2 class="text-info"> More discounts</h2>
			<ul class="list-unstyled">
				<ul class="list-unstyled">
				<li><i class="far fa-check-circle"></i> 100% OFF Customs</li>
				<li><i class="far fa-check-circle"></i>100% OFF VAT</li>
			   <li> <i class="far fa-check-circle"></i> 100% OFF Gebhaly Fees</li>
			   <li><i class="far fa-check-circle"></i> $4.2 per 100 gm</li>
			   <li><i class="far fa-check-circle"></i> Purchase limit: 75 K EGP/Month</li>
			</ul>
			<a href="#" class="btn btn-info">Subscribe</a>
		  </div>
		</div>
		<div class="col-lg-4 col-sm-6 xs-12 ">
		  <div class="price-box box3 wow fadeInDown" data-wow-duration="2s" data-wow-offset="400">
			<div class="price">
				<span>EG</span>
				<h5>499<br></h5>
				<p>per month</p>
			</div>
            <h2 class="text-info"> Platinum</h2>
			<ul class="list-unstyled">
			  <li><i class="far fa-check-circle"></i> 100% OFF Customs</li>
			  <li><i class="far fa-check-circle"></i> 100% OFF VAT</li>
			  <li><i class="far fa-check-circle"></i> 100% OFF Gebhaly Fees</li>
			   <li><i class="far fa-check-circle"></i> $3.8 per 100 gm</li>
			   <li><i class="far fa-check-circle"></i> Purchase limit: 100 K EGP/Month</li>
			</ul>
			<a href="#" class="btn btn-danger ">Subscribe</a>
		  </div>
		</div>
	  
	  </div>
	</div>
  </section>
		 <!------------- Subscribe section---------------------------------------->	
		 <div class="newsletter">
			 <div class="container">
			<div class="row">
			<div class="col-sm-12">
				<div class="content">
					<h2 class="wow fadeInDownBig" data-wow-duration="2s" 
					data-wow-offset="300">SUBSCRIBE TO OUR NEWSLETTER</h2>
				<div class="input-group wow fadeInLeftBig" data-wow-duration="2s" 
				data-wow-offset="300">
					 <input type="email" class="form-control ">
					 <span class="input-group-btn">
					 <button class="btn" type="submit">Subscribe Now</button>
					 </span>
					  </div>
				</div>
			 </div>
			</div>
			</div>
		 </div>

</div>

</body>
{% endblock %}
</html>